body {
  margin: 0;  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; */
  /* esto lo puse yo */
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
}

code {
  font-family: "Montserrat", sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}


:root {
  --naranja-primary: #f12711;
  --naranja-secondary: #f5af19;

  --verde-primary: #1d8d36;
  --verde-secondary: #8ef519;

  --azul-primary: #09077c;
  --azul-secondary: #00b4db ;

}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}