.filterBar {
  /* flex: 1 1 auto; */
  display: flex;
  width: 200px;
  margin-right: 10px;
  justify-content: space-around;
  /* flex-basis: 8% */
  /* flex-grow: 4 */
}

.filterOp {
  /* flex: 1 1 auto; */
  display: flex;
  width: 50px;
  /* flex-basis: 8% */
  /* flex-grow: 4 */
}


.filterSelect {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.inputValue {
  width: 40px;
  background-color: aliceblue;
}

/* .filterBar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterSelect {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */
