.navbar {
  /* background-color: #c73434; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; 
  top: 0;   
  right: 30;    */
}

.logo {
  margin: 10px;
  width: 250px;
}
.navbar_links_container {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.navbar_brand {
  color: #f2efef;
  font-size: 1.5rem;
  font-weight: ;
  padding: 10px;
}

.navbar_links {
  list-style: none;
  display: flex;
}

.navbar_links li {
  margin-right: 10px;
}

.navbar_links li:last-child {
  margin-right: 0;
}

.navbar_links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.navbar_links a:hover {
  color: #f7f3f3;
  cursor: pointer;
}
