/* .home_title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  color: #0ccac4;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.navsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navsContainer > * {
  margin-right: 10px; /* Ajusta el margen derecho entre los componentes según sea necesario */
}

.filtersContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  /* border: 1px solid rgb(172, 18, 18); */
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  /* border: 1px solid rgb(172, 18, 18); */
}

.createButton {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
