
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.5rem;
    color: #888;
  } */